.headerContainer{
  border-bottom: 1px solid black;
  position: relative;
}

.navList {
  display: flex;
  align-items: center;
  gap: 50px;
  padding: 14px 20px;
}
.navList a {
  font-size: 18px;
  align-items: center;
  text-decoration: none;
  color: black;
  display: flex;
  align-items: center;
}
.navList span {
  margin: 15px 20px 10px 10px;
  font-weight: 700;
  font-size: 30px;
}
.navList p,
span:hover {
  cursor: pointer;
}
.right-header-elements {
  display: flex;
  margin-left: auto;
  align-items: center;
  gap: 20px;
}
.search-bar {
  border: 1px solid black;
  color: black;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
}
.search-bar input {
  padding: 0.5rem 0.25rem;
  border: none;
  border-radius: 20px;
  outline: none;
}
.search-bar input::placeholder {
  color: var(--black);
}
.header-cart-icon {
  margin: auto;
  border-radius: 50%;
  border: 1px solid var(--black);
  padding: 10px 10px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.dropdown-toggle::after{
  display: none !important;
}

.btn_books{
  font-size: 18px;
  border: none;
  outline: none;
  font-weight: 500;
  margin-right: 5px;
  background-color: transparent;
}
.dd_menu a{
  font-weight: 300;
}
/* Hide hamburger on large screens */
.hamburger-menu {
  display: none;
  cursor: pointer;
}

/* Mobile nav styles */
.nav-links-wrapper {
  display: flex;
  gap: 50px;
  align-items: center;
}
.hamburger-icon{
  display: none;
}
.overlay {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100vh; /* Full screen height */
  transform: translateY(-100%); /* Position off-screen */
  visibility: hidden; /* Ensure it's hidden when not open */
  transition: transform 0.3s ease-out, visibility 0s linear 0.5s; /* Delay visibility change */
  padding: 0;
}

.overlay.open {
  transform: translateY(0); /* Slide into view */
  visibility: visible; /* Ensure it's visible */
  transition: transform 0.5s ease-out; /* Smooth transition without delay */
}
.mobileMenu{
  padding: 2.5rem 1.5rem 1rem;
  background-color: var(--white);
  border-bottom: 1px solid black;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.mobileMenu a{
  text-decoration: none;
  color: var(--black);
  font-size: 18px;
}
.mobileMenu > ul{
  padding-left: 7.5px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.mobileMenu > ul a{
  font-weight: 400;
  font-size: 16px;

}
.book_mobile{
  font-weight: 500;
  font-size: 18px;
}
.mob_search{
  padding: 0 0.5rem;
  border-radius: 30px;
  margin-bottom: 1.5rem;
}
.mob_search input{
  width: 100%;
}
/* On small screens */
@media (max-width: 990px) {
  .hamburger-icon {
    display: block;
    cursor: pointer;
  }
  .desktop_link, .navList a:not(:first-child){
    display: none;
  }
  .right-header-elements {
   
    gap: 10px;
}
}
