.banner{
    background-color:#e5e6e1;
    padding: 5rem 0;
    position:relative;
}
.banner-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner-content h1{
    font-weight: 300;
    font-size: 70px;
}
.banner-content p{
    margin: 0;
    max-width: 40%;
}

@media (max-width: 992px) {
    .banner-content{
       flex-direction: column;
       justify-content: flex-start;
    }
    .banner-content h1{
       font-size: 44px;
    }
    .banner-content p{
        max-width: 50%;
        text-align: center;
     }
}

@media (max-width:768px) {
    .banner-content h1{
        font-size: 36px;
     }
     .banner-content p{
        max-width: 70%;
     }
}
@media (max-width:450px) {
    .banner-content h1{
        font-size: 32px;
     }
     .banner-content p{
        max-width: 100%;
     }
    
}