.book-blogs {
    margin-top: 8rem;
    max-width: 100%;
}

.blog-card {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 75px 0;
    text-decoration: none;
    color: var(--black);
    gap: 4rem;
}

.blog-card:hover {
    cursor: pointer;
}

.blog-card img,
.blog-info {
    max-width: 48%;
}

.blog-card a {
    color: var(--black);

}

.blog-info h4 {
    font-weight: 300;
    line-height: 30px;
    font-size: 1.12rem;
}

.blog-info h1 {
    font-size: 2.5rem;
    font-weight: 500;
}

@media(max-width: 1024px) {
    .blog-card{
        flex-wrap: wrap;
    }
}
/* @media (min-width: 768px) and (max-width: 1024px) {
    .book-blogs{
        display: flex;
        gap: 1.5rem;
        flex-wrap: wrap;
    }
    .blog-card{
        width: 49%;
    }
   
} */
@media (max-width: 768px) {

    .blog-card img,
    .blog-info {
        max-width: 90%;
    }
    .blog-info h1{
        font-size: 2rem;
    }
}