*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.about-us-head{
    display:flex;
    background-color:#e5e6e1;
    height: 15rem;
    max-width: 100%;
}
.about-us-head h1{
    margin: 55px 0 40px 40px;
    font-size: 5rem;
    font-weight: 100;
}
.about-us-head h5{
    margin: 6rem 0 0 25rem;
    font-size: 1.15rem;  
    font-weight: 100;
    line-height:20px;
}
.about-our-story{
    display: flex;
    margin-top: 8rem;
}
.about-first-left-section{
    margin: 3px 50px 0 40px;
    height: 45rem;
}
.our_story{
    border: 1px solid black;
    border-radius: 50px;
    margin-top: 30px;
    padding: 10px;
    display: inline-block;
}
.about-first-right-section p{
    margin: 30px 20px 0 0;
    line-height: 30px;
    font-size: 1.15rem;
}
.work-with-us{
    display: flex;
    height:40rem;   
}
.work-with-us img{
    margin: 10px 0 0 20px;
}
.work-para{
    margin:13rem 20px 0 50px;
    line-height: 25px;
}
.work-para h1{
    margin-bottom: 30px;
    font-size:3.5rem ;
    font-weight: 200;
}
.work-para p{
    margin-left: 12px;
    font-size: 1.15rem;
}
.publish{
    display:flex;
}
.publish-para{
    margin:6rem 20px 0 20px;
    height: 30rem;
}
.publish-para p{
    line-height: 25px;
    margin: 15px 70px 0 0 ;
    font-size: 1.15rem;

}
.publish-para h1{
    font-weight: 200;
    font-size: 3rem;
}
.publish img {
    margin-right: 20px;
}
.publish-with-us{
    display:flex;
    height:28rem;
    background-color: #e5e6e1;
}
.publish-left-side{
    margin:7rem 80px 20px 30px;
    line-height: 30px;
    /* background-color: red; */
    width: 35%;
}
.publish-left-side h1{
    font-size: 3rem;
    font-weight:200;
    margin-bottom:30px;
}
.send-email{
    border-radius: 50px;
    display:inline-block;
    background-color: white;
    padding:10px 20px;
    margin-top:20px;
}
.send-email span{
    font-weight: 700;
}
.publish-right-side{
    margin:7rem 20px 0 25rem;
    line-height: 50px;
    font-size: 1.20rem;
    width: 30%;
}
.members,.testimonial{
    padding: 10px 20px;
    display: inline-block;
    border-radius: 50px;
    border: 1px solid black;
}
.team-members{
    height: 40rem;
    margin: 7rem 0 0 40px ;
}
.team-members h1,.testimonials h1{
    font-weight: 200;
    font-size: 2.50rem;
    margin-top:15px;
    margin-bottom: 20px;
}
.member-name{
    border-radius: 45px;
    padding: 8px 25px;
    display: inline-block;
    position: absolute;
    bottom: 20px;
    left: 20px;
    background-color: white;
}
.team-member-info{
    display: flex;
}
.team-members-card{
    margin-right: 15px;
    position: relative;
}
.review{
    background-color:#e0cbcd;
    /* background-color: #bbb2cf; */
    height: 15rem;
    display:flex;
    position: relative;
}
.review-card{
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 25px;
    width: 100%;
    margin-top: 4rem;
}
.review-card h1{
    font-size: 3.5rem;
    font-weight: 300;
    line-height: 4rem;
}
.review-card span{
    margin-right: 0;
}
.review-card p{
    margin-left: 10px;
}
.state-img{
    position: absolute;
    bottom: 0;
    right: 0;
}
.state-graphics{
    position:absolute;
    bottom: 0;
    right: 10%;
}
.state-img-wrap{
    position: absolute;
    top: -25px;
    right: 3%;
}
.testimonials{
    height: 30rem;
    margin-top: 6rem;
    padding: 30px;
}


<<<<<<< HEAD
=======

.pagination_swiper{
    display: flex;
    margin-top: 40px;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    gap: 7px;
}
>>>>>>> 8ef1fb1b6a2e220c38011bcf3bc3bf9636e824ad
