.first-section{
    display:flex;
    height: 40rem;
    background-color: #e5e6e1;

}
.discover{
    border:1px solid var(--black);
    padding: 5px 10px;
    display: inline-block;
    border-radius: 50px;
}
.left-side-discover{
    margin-top: 12rem;

}
.left-side-discover h1{
    font-size: 3rem;
    font-weight: 400;
    margin: 20px 0 30px 0 ;
}
.right-side-discover{
    margin-top: 7rem;
    margin-left: 20px;
}
.second-section{
    margin-top: 7rem;
    position: relative;
  height: 70rem;
}
.mid-section1,.mid-section2{
    position: absolute;
  left: 50%;
  top:50%;
  width: 68%;
  transform: translate(-50%, -50%);
  /* background-color: lightgreen; */
}
.message{
    margin-top: 3rem;
    background-color: #e5e6e1;
    height: 10rem;
    width: 100%;
    padding: 40px;
    text-align: center;
    font-weight: 500;
    margin-bottom: 3rem;
}
.mid-section1 ol li{
    line-height: 40px;
}
.third-section{
    /* margin-top: 1rem; */
    position: relative;
    height: 60rem;
}
.fourth-section{
    margin-top: 5rem;
    height: 59rem;
    
}
.similar-img{
    display:flex;
}
.img{
    margin-top: 20px;
    margin-right: 30px;
}
.img p{
    margin-top: 20px;
    line-height: 30px;
}