@font-face {
  font-family: "Aspekta";
  src: url("/fonts/Aspekta-300.ttf") format("truetype");
  font-weight: 300;
}
@font-face {
  font-family: "Aspekta";
  src: url("/fonts/Aspekta-400.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Aspekta";
  src: url("/fonts/Aspekta-500.ttf") format("truetype");
  font-weight: 400;
}
/* kkk */
body {
  font-family: "Aspekta", sans-serif;
  font-weight: 400;
  color: var(--body);
  font-size: 16px;
  line-height: 170%;
}

:root {
  --body: #333;
  --black: black;
  --primary: #e5e6e1;
  --white: white;
  --bg: #f2f3f0;
  --purple: #bbb2cf;
  --yellow: #e4b976;
  --pink: #ca9da2;
}

a{
  font-weight: 500;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 10px;
  font-weight: bold;
}

h1 {
  margin-top: 20px;
  font-size: 38px;
  line-height: 44px;
  font-family: "Aspekta", sans-serif;
  font-weight: 300;
}

h2 {
  margin-top: 20px;
  font-size: 32px;
  line-height: 36px;
}

h3 {
  margin-top: 20px;
  font-size: 24px;
  line-height: 30px;
  font-family: "Aspekta", sans-serif;
  font-weight: 500;
}

h4 {
  margin-top: 10px;
  font-size: 18px;
  line-height: 24px;
}

h5 {
  margin-top: 10px;
  font-size: 14px;
  line-height: 20px;
}

h6 {
  margin-top: 10px;
  font-size: 12px;
  line-height: 18px;
}

p {
  margin-top: 0;
  margin-bottom: 10px;
}



blockquote {
  border-left: 5px solid #e2e2e2;
  margin: 0 0 10px;
  padding: 10px 20px;
  font-size: 18px;
  line-height: 22px;
}

figure {
  margin: 0 0 10px;
}

figcaption {
  text-align: center;
  margin-top: 5px;
}

ul, ol {
  margin-top: 0;
  margin-bottom: 10px;
  padding-left: 40px;
}

/* .container {
  width: 100%;
  max-width: 1336px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
} */