.login {
    position: relative;
    height: 100vh;
}

.login img {
    height: 100%;
    width: 100%;
    opacity: 0.5;
    object-fit: cover;
}

.log-section-card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    /* or you can write as translate(-50%, -50%) */
    z-index: 7;
    width: 30%;
}

.log-section-card input {
    width: 100%;
    border-radius: 40px;
    border: none;
    margin: 15px;
    padding: 10px;
    outline: none;
}
.log-section-card input:focus{
    border: 1px solid rgb(0, 102, 255);
}
.button {
    margin-top: 20px;
    color: var(--white);
    background-color: var(--black);
    padding: 12px 70px;
    text-decoration: none;
    border-radius: 50px;
    margin: 65px;
}

.login-heading {
    text-align: center;
}
.new_reader{
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
}
.new_reader p{
    margin: 0;
}