.book {
    display: flex;
    margin-top: 4rem;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.book>img {
    width: 48%;
}

.book-info {

    max-width: 48%;
}

.cart-info {
    display: flex;
    margin: 30px;
}

.number {
    margin-right: 30px;
    padding: 10px 30px;
    border: 1px solid var(--black);
    border-radius: 10px;
}

.add {
    background-color: var(--black);
    color: var(--white);
    border-radius: 50px;
    padding: 10px 30px;
    text-align: center;
}
.add:hover{
      background-color: var(--white);
  border: 1px solid var(--black);
  color: var(--black);
  transition-duration: all 0.3s ease-in-out;

}

.book-info h4 span {
    margin-left: 20px;
    text-decoration: line-through;
    color: silver;
}

.description {
    margin-top: 5rem;
}

.similar-books h1 {
    font-weight: 200;
    margin-left: 20px;
    margin-top: 4rem;
}

.book-store {
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 2rem;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.book-card h5 {
    margin-top: 20px;
}

@media (max-width: 896px) {
    .book-info {
        margin-top: 5rem;
        max-width: 100%;
    }

    .book>img {
        width: 65%;
    }
    .book{
        justify-content: center;
    }
}

@media (max-width: 425px) {

    .book>img {
        width: 100%;
    }
}