.footer-section{
    display: flex;
}
.left-footer-section{
    width: 80rem;
    height: 50rem;
    margin-top: 30px;
    background-color:black;
    /* background-color: blue; */
    color: white;
}
.left-footer-section span{
    margin: 60rem 20rem;
    /* padding: 30px; */
    font-size: 25px;
}
.left-footer-section p{
    /* margin: 30px; */
    font-size: 40px;
}
.right-footer-section{
    background-color: black;
    height: 50rem;
    width: 60rem;
    margin-top: 30px;
    color: white;
    display: flex;
}
.basic-right-section,.privacy-right-section{
    margin: 12rem 0 30px 18rem;
    font-size:16px;
    font-weight: 500;
    line-height: 28px;
}
.privacy-right-section p:hover{
    opacity: 0.25;
    cursor: pointer;
}
.basic-right-section p:hover{
    opacity: 0.25;
    cursor: pointer;

}
