.login{
position: relative;
height: 150vh;
}
.login img{
    height: 100%;
    width: 100%;
    opacity: 0.5;
}
.log-section-card{
    position: absolute;
    top: 6rem;
    right: 20rem;
    z-index: 7;
    width:40%;
    padding: 60px;
}
.log-section-card input{
    width:80%;
    border-radius: 40px;
    border:none;
    margin: 20px;
    padding: 15px;
}
.button{
    margin-top: 20px;
    color:var(--white);
    background-color:var(--black);
    padding: 12px 70px;
    text-decoration: none;
    border-radius: 50px;
    margin: 65px;
}
.login-heading{
    margin-right: 45px; 
    text-align:center;
}