*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.book-collection{
    display:flex;
    background-color:#e5e6e1;
    height: 15rem;
    max-width: 100%;
}
.book-collection h1{
    font-size: 4.5rem;
    margin: 55px 10px 0 20px;
    font-weight: 300;
}
.book-collection h5{
    margin: 90px 0 0 90px;
    font-size: 1.15rem;  
    font-weight: 100;
}
.book-store{
    margin-top: 8rem;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    height: 100rem;
    
}
.book-card{
    margin-left: 20px;
}
.book-card h5{
    line-height: 25px;
    margin-top: 20px;

}

.next-btn{
    padding: 15px 25px;
    border-radius: 35px;
    font-weight: 600;
    font-size: 18px;
    color:var(--black);
    border: 1px solid var(--black);
    text-decoration: none;
    font-weight: 200;
}
.next-btn:hover{
    background-color:var(--black);
    color: var(--white);
    border: 1px solid var(--black);
    transition-duration:1s ;
    
}
.next-button{
    margin-left: 72rem;
    display: inline-block;
    height: 15rem;
}
