*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.book-collection{
    display:flex;
    background-color:#e5e6e1;
    height: 15rem;
    max-width: 100%;
}
.book-collection h1{
    font-size: 4.5rem;
    margin: 55px 10px 0 20px;
    font-weight: 300;
}
.book-collection h5{
    margin: 90px 0 0 90px;
    font-size: 1.15rem;  
    font-weight: 100;
}
.book-store{
    margin-top: 8rem;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
}
.book-card h5{
    line-height: 25px;
    margin-top: 20px;

}


@media (max-width: 768px) {
    .book-store{
        margin-top: 4rem;
    }
}