.review_card {
    position: relative;
    overflow: hidden;
    margin: 1rem;
}

.review_overlay {
    width: 100%;
    height: 100%;

    position: absolute;
}

.review_info {
    padding-left: 44px;
    padding-right: 44px;
    position: absolute;
    top: 12%;
    color: var(--white);
}

.review_image {
    width: 100%;
}



.about-us-head {
    display: flex;
    background-color: #e5e6e1;
    height: 15rem;
    max-width: 100%;
}

.about-us-head h1 {
    margin: 55px 0 40px 40px;
    font-size: 5rem;
    font-weight: 100;
}

.about-us-head h5 {
    margin: 6rem 0 0 25rem;
    font-size: 1.15rem;
    font-weight: 100;
    line-height: 20px;
}

.about-our-story {
    display: flex;
    margin-top: 8rem;
    gap: 2rem;
}

.about-first-left-section {
    width: 40%
}

.our_story {
    border: 1px solid black;
    border-radius: 50px;
    margin-top: 30px;
    padding: 10px;
    display: inline-block;
}

.about-first-right-section {
    width: 60%;
}

.about-first-right-section img,
.about-first-left-section img {
    height: 440px;
}

.about-first-right-section p {
    margin: 30px 20px 0 0;
    line-height: 30px;
    font-size: 1.15rem;
}

.work-with-us {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 6rem;
    align-items: center;
}

.work-para {
    line-height: 25px;
}

.work-para h1 {
    margin-bottom: 30px;
    font-size: 3.5rem;
    font-weight: 200;
}

.work-para p {
    font-size: 1.15rem;
}

.publish {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 6rem;
    gap: 2rem;
}


.publish-para p {
    line-height: 25px;
    font-size: 1.15rem;

}

.publish-para h1 {
    font-weight: 200;
    font-size: 3rem;
}

.publish-with-us {
    display: flex;
    justify-content: space-between;
    background-color: #e5e6e1;
    align-items: center;
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin-top: 6rem;
}

.publish-left-side {
    line-height: 30px;
    width: 50%;
}

.publish-left-side h1 {
    font-size: 3rem;
    font-weight: 200;
    margin-bottom: 30px;
}

.send-email {
    border-radius: 50px;
    display: inline-block;
    background-color: var(--white);
    padding: 10px 20px;
    margin-top: 20px;
}
.swiper_btn{
    display: flex;
}
.btn{
    font-size: 2rem;
}
.send-email span {
    font-weight: 700;
}

.publish-right-side {
    line-height: 50px;
    font-size: 1.20rem;
    width: 35%;
}

.members,
.testimonial {
    padding: 10px 20px;
    display: inline-block;
    border-radius: 50px;
    border: 1px solid black;
}

.team-members {
    padding-top: 3rem;
    padding-bottom: 4rem;
}

.team-members h1,
.testimonials h1 {
    font-weight: 200;
    font-size: 2.50rem;
    margin-top: 15px;
    margin-bottom: 20px;
}

.member-name {
    border-radius: 45px;
    padding: 8px 25px;
    display: inline-block;
    position: absolute;
    bottom: 20px;
    left: 20px;
    background-color: white;
}

.team-member-info {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
}

.team-members-card {
    position: relative;
    width: 23.5%;
}

.team-members-card img {
    object-fit: cover;
}

.review {
    background-color: #e0cbcd;
    display: flex;
    justify-content: space-between;
    padding: 4rem 20px 4rem;
    position: relative;
    gap: 1rem;
    flex-wrap: wrap;
}

/* .review-card {
    display: flex;
    flex-direction: column;
    align-items: center;
} */

.review-card h1 {
    font-size: 3.5rem;
    font-weight: 300;
    line-height: 4rem;
    text-align: center;
}
.review-card p{
    text-align: center;
}
.state-img {
    position: absolute;
    bottom: 0;
    right: 0;
}

.state-graphics {
    position: absolute;
    bottom: 0;
    right: 10%;
}

.state-img-wrap {
    position: absolute;
    top: -25px;
    right: 3%;
}

.testimonials {
    margin-top: 6rem;
    padding: 30px;
}

.pagination_swiper {
    display: flex;
    margin-top: 40px;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    gap: 7px;
}

.mobile_our_story {
    display: none;
}

@media (max-width: 1024px) {

    .state-img-wrap,
    .state-img,
    .state-graphics {
        display: none;
    }

    .team-members-card {
        width: 47%;
    }

    .our_desktop {
        display: none;
    }

    .mobile_our_story {
        display: inline-block;
    }
    .publish{
        flex-direction: column-reverse;
    }
    .about-our-story,
    .work-with-us
     {
        flex-direction: column;
    }
    .about-first-right-section{
        display: flex;
        flex-direction: column;

    }
    .about-first-right-section, .about-first-left-section, .work-with-us img, .about-first-left-section img, .publish img{
        width: 100%;

    }
    .about-first-right-section img,
.about-first-left-section img {
    height: auto;
}

}

@media (max-width: 768px) {
    .review-card {
        width: 47%;
    }
    .work-with-us h1, .publish h1, .publish-with-us h1{
        font-size: 2.5rem;
    }
}

@media (max-width: 550px) {


    .publish-with-us {
        flex-wrap: wrap;
        gap: 1rem;
    }
.member-name {
    bottom: 5px;
    left: 5px;
    white-space: nowrap;
}
    .publish-left-side,
    .publish-right-side {
        width: 100%;
    }
}